.container{/*Classe para colocar atributos de todos os containeres*/
	margin: 0 auto;
	border: 1px solid #000;
	margin-bottom: 30px;
}
.horizontal{
	flex-flow: row wrap;
}
.flexivel{/*Classe pra colocar atributos referentes aos objetos no HTML que são flex*/
	max-width: 900px;
	min-width: 300px;
	height: 180px;
	display: flex;
	justify-content: center;
}
.item{
	margin: 5px;
	padding: 5px;
	background-color: #447;
	text-align: center;
	font-size: 1em;
	color: #fff;
	width: auto;
	height: 20px;
}
.tam0{
	flex-grow: 0;
}
.tam1{
	flex-grow: 1;
}
.tam2{
	flex-grow: 2;
}
.tam3{
	flex-grow: 3;
}
.basea{
	flex-basis: auto;
}
.base0{
	flex-basis: 0;
}
.bas1{
	flex-basis: 1;
}
.base2{
	flex-basis: 2;
}

body{
	font-family: arial;
	color: #000;
}