.container{/*Classe para colocar atributos de todos os containeres*/
	margin: 0 auto;
	border: 1px solid #000;
	margin-bottom: 30px;
}
.container1,.container2,.container3,.container4{
	align-content: flex-start;/*"flex-end" segue a l처gica inversa de "flex-start"*/
}
.container5{
	align-content: space-between;/*Centraliza os elementos dentro do container*/
	height: 450px;
}
.container6{
	align-content: stretch;/*Padr찾o*/
}
.container7{
	align-content: center;/*Posiciona elementos nos extremos da div e iguala a dist창ncia entre o resto*/
}
.horizontal{
	flex-flow: row wrap;
}
.horizontalInverso{
	flex-flow: row-reverse wrap;
}
.vertical{
	flex-flow: column wrap;
}
.verticalInverso{
	flex-flow: column-reverse wrap;
}
.flexivel{/*Classe pra colocar atributos referentes aos objetos no HTML que s찾o flex*/
	max-width: 900px;
	min-width: 300px;
	min-height: 180px;
	max-height: 400px;
	display: flex;
	justify-content: space-around;
}
.item{
	margin: 5px;
	padding: 5px;
	background-color: #447;
	text-align: center;
	font-size: 1em;
	color: #fff;
	width: auto;
}
.container5 div{
	width: calc(33.333% - 20px);/*1/3 -(margin + padding)*/
}
body{
	font-family: arial;
	color: #000;
}